@import 'config';

body {
	background : $color001;
}
 
div.uCircus img {
	border: 0px solid $color002 !important;
}

#asynchronous-zero {
	font-size: 3em;
}

.slide-number-b {
	background-color: #070707;
}
.slide-number-delimiter,
.slide-number-b {
	display: none
}

code {
	padding: 22pt 0 20pt 0 !important;
}

.navigate-up, .navigate-down {
	display: none
}

section {
	margin-top: 20px !important;
	vertical-align: top;
}

.reveal {
	pre {
		overflow: visible;
		position: relative;
		max-width: 1024px;

		::-webkit-scrollbar {
			width: 5px;
			height: 5px;

			&-track {
				border-radius: 0;
				background: rgba($color255, .3);
				box-shadow: inset 0 0 1px $color255;
			}

			&-thumb {
				background: $color003;
				border-radius: 0;

				&:hover {
					opacity: 0.5;
					cursor: pointer;
				}
			}
		}
	}

	.slide { 
		box-sizing: border-box;

		&--dark { background-color: $color000; }
		&--meanwhile {
			font-size: 0.85em;
			margin-top: 3%;
		}
	}

	.link {
		&--blank {
			color: $color003;
			text-decoration: none;
			transition: all .15s ease;
		}

		&--image { position: static; }
	}

	.image {
		
		background: $color001;

		&--logo {
			&-holyjs,
			&-ukit-group {
				position: absolute;
				border: 0;
			}
			&-holyjs {
				top : -120px; left: 50px;
				height: 170px;
			}

			&-ukit-group {
				top : -50px; right: 100px;
				height: 50px;
			}
		}

		&--noborder {
			border: 0;
			box-shadow: 0 0 0 0;
		}

		&--border { border: 1px solid $color002; }
	}

	.header {
		&--h1 {
			font-size: 1.3em;
			margin: 0px 0 100px 0;
		}

		&--no-transform { text-transform: none; }
	}

	.separator { width: 50%; }

	.dots {
		color:rgb(67, 45, 190);
		font-size: 9em;
	}

	.introduction {
		&__logo { background: transparent; }
	}

	.team-mascots-me {
		&__image { margin-top: 2%; }
	}

	.doc-example {
		&__code {
			&-wrap {
				max-width: 100%;
			}
		}
	}

	.intro {
		&__header {
			font-size: 2.7em;
			margin-top: 125px
		}
	}
	 
	.present {
		p { margin: 0; }
	}

	.who-am-i {
		font-size: 0.7em;

		&__text {
			&--indent { margin: 3% auto 1% auto }
			&--meanwhile {
				font-size: 0.85em;
				margin-top: 3%;
			}
		}

	}

	.dream {
		color: #EFEFEF;
		background: #101010;
	}

	.side-digit {
		position: absolute;
		font-size: 1700%;
		color:rgb(67, 45, 190);

		&__1 {
			right: -0.23em; top: -0.10em;
		}

		&__2 {
			right: -0.15em; top: 0.20em;
		}
	}

	.and-word-was {
		&__subtitle {
			font-size: 5.7em;
			margin-top: 25px;
			text-transform: none;
		}
	}

	.they-invented {
		&__code { text-align: center; }
	}

	.all-complicated {
		&__header {
			color:orange;
			font-size:3.2em;
		}

		&__code { text-align: center; }
	}

	.relations {
		&__header {
			font-size: 3.7em;
			margin-top: 125px
		}
	}

	.metaphor {
		&__header {
			font-size: 5em;
			margin-top: 25px;
			text-transform: none
		}
	}

	.bug-assignment {
		&__image {
			&--note { z-index: 1; }
			&--fun {
				z-index:2;
				position: absolute;
				right: 10%
			}
		}
	}

	.stack {
		&__wrap {
			&--1 {
				height: 100%;
				padding-bottom: 50%;
			}

			&--2 {
				height: 100%;
				padding-bottom: 50%
			}
		}

		&--1,
		&--2 {
			&__image {
				position: absolute;

				&--1,
				&--2,
				&--3 {
					top: 20%;
					width: 55%; height: 55%;
				}

				&--1 {
					z-index:1;
					left: 10%;
				}

				&--2 {
					z-index:2;
					left: 25%;
				}

				&--3 {
					z-index:3;
					left: 40%;
				}

				&--4 {
					z-index:4;
					top: 30%; left: 15%;
					width: 75%; height: 20%
				}
			}
		}

		&--2 {
			&__header {
				z-index: 5;
				color:red;
				font-size: 16vw; // 7.1em
				position: absolute;
				top: 145px; left: 80px
			}
		}
	}

	.collect-data {
		&__image {
			&--team {
				z-index:2;
				position: absolute;
				width: 270px;
				left: 30px; top: 125px;
			}

			&--note {
				width: 59%;
			}

			&--root {
				max-width: 270px;

			}
		}
	}

	.available-data {
			&__image {
				&--root,
				&--test,
				&--team {
					z-index:2;
					position: absolute;
				}

				&--root,
				&--test {
					width: 270px;
					top: 125px;
				}

				&--root { left: 30px; }
				&--aaa { width: 25%; }
				&--test { right: 30px; }

				&--team {
					left: 42%; top: 400px;
					width: 350px;
				}
			}
	}

	.schrodinger {
		&__image {
			z-index:2;
			position: absolute;

			&--cat {left: 2%; top: 59%; }

			&--heisenbug {
				right: 2%; top: 69%;
				width: 70%;
			}
		}
	}

	.trace {
		&__header {
			font-size: 2.5em;
			margin-top: 75px;
			color: orange;
		}
	}

	.polymorph,
	.sti {
		&__image {
			width: 80%;
			max-height: 80%;
			margin: auto;
		}
	}

	.proto-chain {
		&__text {
			&--state { color: #DFE0DF; }
			&--context { color: red; }
		}
	}

	.driven-errors {
		&__code {
			min-height: 500px;
			max-height: 100%;

			&-wrap {
				font-size: 1.29em;
				line-height: 1.29em;
				max-width: 100%;
			}
		}
	}

	.oops {
		&__code {

			&--2 { min-height: 350px; }

			&-wrap {
				max-width: 100%; 

				&--2 {
					font-size: 1.2em;
					line-height: 1.2em;
				}
			}
		}

		&__image {
			z-index:2;
			position: absolute;
			right: 2%; top: 25%;
			width: 35%
		}
	}

	.diving {
		&__header {
			font-size: 5em;
			margin-top: 225px
		}
	}

	.statefull {
		&__header {
			font-size: 5em;
			margin-top: 125px;
			color: orange;
		}
	}

	.dump {
		&__header {
			font-size: 2em;
			margin-top: 35px;
			color: orange;
		}

		&__descriptor {
			font-size: 1.2em;
			position: absolute;
			top: 277px; right: 22%;
			color: navy;
			text-transform: none;
		}
	}

	.dtrace {
		&__header {
			font-size: 2em;
			margin-top: 35px;
			color: orange;
		}

		&__image {
			&--flamegraph {
				z-index: 3;
				position: absolute;
				left: 37%; top: 33%;
				width: 70%;
			}
		}

		&__text {
			z-index: 5;
			font-size: 7em;
			position: absolute;
			top: 325px; left: 25%;
			color: darkred;
			text-transform: none;
		}
	}

	.graphana {
		&__header {
			color: orange;
		}

		&__image {
			&--trace {
				z-index:3;
				position: absolute;
				left: 27%; top: 41%;
				width: 70%;
			}
		}

		&__subtitle {
			z-index:5;
			font-size: 7em;
			left: 7%; top: 325px;
			position: absolute;
			color: cadetblue;
			text-transform: none;

			&--colored { color: orange; }
		}
	}

	.scope {
		&__header {
			z-index:5;
			font-size: 2em;
			font-family: Verdana; 
			color: orange;
			text-transform: none;
			letter-spacing: 15px;
		}
	}

	.cache {
		&__header { color:orange; }

		&__code {
			min-height: 350px;

			&-wrap {
				max-width: 100%;
				font-size: 1.25em;
				line-height: 1.25em;
			}
		}
	}

	.node-fibers {
		&__header {
			font-size: 1.7em;
			text-transform: none;
		}

		&__subtitle {
			font-size: 3em;
			position: absolute;
			top: 625px; left: 15%;
			color: darkred;
			text-transform: none;
		}

		&__image {
			&--downloads {
				z-index:3;
				position: absolute;
				right: 2%; top: 15%;
				width: 40%;
			}
		}
	}

	.threads {
		&__subtitle {
			&--alarm {
				font-size: 5em;
				position: absolute;
				top: 325px; left: 11%;
				color: maroon
			}

			&--state {
				font-size: 3em;
				position: absolute;
				top: 625px; left: 15%;
				color: red;
				text-transform: none;
			}
		}
	}

	.tracking {
		&__header { font-size: 5em; }
	}

	.entrypoint {
		&__header { margin-top: 30px; }

		&__code {
			&-wrap {
				max-width: 100%;
			}
		}
	}

	.no-async {
		&__header { margin-top: 50px; }
	}

	.window-node {
		&__code { text-align: center; }
	}

	.event-loop {
		&__header {
			margin-top: 50px;
			color: orange;
		}

		&__link {
			position: absolute;

			&--1 {
				z-index:2;
				right: 7%; top: 47%;
				width: 40%
			}
			&--2 {
				z-index:3;
				left: 9%; top: 59%;
				width: 45%
			}
		}
	}

	.indeed {
		&__header {
			&--top { margin-top: 101px; }

			&--principal {
				font-size: 3em;
				color: orange;
			}
		}
	}

	.neumann-arch {
		&__image {
			&--2, &--3 {
				z-index:3;
				position: absolute;
				top: 43%;
				width: 40%;
			}

			&--2 { left: 7%; }
			&--3 { right: 7%; }
		}
	}

	.async-operation {
		&__header {
			font-size: 2.5em;
			color: orange;
		}

		&__text {
			&--danger { color: orange; }
			&--neutral { color: gray; }
			&--alarm { color: red; }
		}
	}

	.logical-context {
		&__image {
			width: 90%;
			margin: 3% auto;
		}
	}

	.continuation,
	.uncaughtException {
		&__code {
			min-height: 500px;

			&-wrap {
				font-size: 1.1em;
				line-height: 1.1em;
				max-width: 100%;
			}
		}
	}

	.continuation{
		&__code { text-align: center; }
	}

	.uncaughtException {
		&__header { text-transform: none; }
	}

	.CODE {
		&__header {
			font-size: 8em;
			margin-top: 85px;
		}
	}

	.no-limits {
		&__header {
			font-size: 7em;
			margin-top: 105px;
			color: orange;
		}
	}

	.async-hooks {
		color: #EFEFEF;

		&__text {
			font-size: 2em;
			position: absolute;
			top: 725px; left: 25%;
			color: navy;
			text-transform: none;
		}
	}

	.hooks-list {
		color: #EFEFEF;

		&__hook {
			font-size: 2.5em;
			color: navy;
			text-transform: none;

			&:first-child { margin-top: 50px; }
			&--resolve { font-size: 2em; }
		}

		&__descriptor { font-size: 0.5em; }
	}

	.articles {
		&__text {
			font-size: 3.5em;
			color: orange;
		}

		&__image {
			&--lorenz {
				min-width: 500px; max-width: 500px;
			}
		}

		&__link {
			z-index:3;
			position: absolute;
			top: 450px; right: 2%;
			width: 700px;
		}
	}
	
	.cls {
		color: #EFEFEF;

		&__code {
			&-wrap { max-width: 100%; }
		}
	}

	.zonejs {
		&__link {
			&--sl,
			&--angular {
				z-index: 2;
				position: absolute;
			}

			&--sl {
				z-index: 2;
				top: 250px; left: 15%;
				height: 400px;
			}
			&--angular {
				z-index: 2;
				top: 350px; left: 35%;
				height: 500px;
			}
		}
	}

	.git-dive {
		&__text {
			position: absolute;
			text-transform: none;

			&--1, &--4 { font-size: 2em; }
			&--2, &--3 { font-size: 3em; }

			&--1 {
				z-index: 2;
				top: 25px; left: 33%;
				color: red;
			}
			&--2 {
				top: 595px; left: 20%;
				color: navy;
			}
			&--3 {
				top: 435px; left: 35%;
				color: red;
			}
			&--4 {
				top: 175px; right: 20%;
				color: maroon;
			}
		}
	}

	.limitations {
		&__header {
			font-size: 3.7em;
			margin-top: 125px;
		}
	}

	.async-listener {
		&__image {
			&--norris {
				z-index:2;
				position: absolute;
				top: 220px; right: 7%;
			}
		}
	}

	.how-it-is-made,
	.what-we-can,
	.func-explanation {
		&__code {
			&-wrap {
				margin:0px auto 0px auto !important;
			}
		}
	}

	.problem {
		&__header {
			color:red;
			margin-top:55px;
		}

		&__code {
			&-wrap { max-width: 100%; }
		}
	}

	.kantor {
		&__link {
			z-index: 2;
			position: absolute;

			&--1 {
				top: 250px; 
				left: 15%;
				height: 500px;
			}

			&--2 {
				top: 350px;
				left: 35%;
				height: 800px;
			}
		}
	}

	.fixing {
		&__header {
			font-size: 3.7em;
			margin-top: 125px;
		}
	}

	.chrome-debug {
		&__link {
			z-index:2;
			position: absolute;
			top: 220px; right: 7%;
		}
	}
	
	.trace {
		&-from-dtrace {
			&__header  { color: red; }
			&__subtitle { color:orange; }
		}

		&__header { color: orange; }
	}

	.asking-help {
		&__image {
			z-index:2;
			position: absolute;

			&--1 {
				top: 120px; right: 5%;
				width: 31%
			}
			&--2 {
				top: 120px; left: 5%;
				width: 27%;
			}
			&--3 {
				top: 400px; left: 5%;
				width: 35%;
			}

			&--4 {
				position: relative;
			}
		}

		&__link { z-index: 3; }
	}

	.solution {
		&__header {
			font-size: 3.7em;
			margin-top: 125px;
		}
	}

	.working-concept {
		&__header {
			color:orange;
			margin: 85px 0 55px 0;
		}
	}

	.cloud-trace {
		&__header {
			color:orange;
			margin: 35px 0 25px 0;
		}
	}

	.resume {
		&__header {
			font-size: 3.7em;
			margin-top: 125px;
		}
	}

	.discussions {
		&__image {
			&--martin {
				z-index:2;
				position: absolute;
				top: 620px;
				right: 32%;
			}
		}
	}

	.main-idea {
		&__text { color: orange; }
	}

	.i-know-how {
		&__header {
			font-size: 3.7em;
			margin-top: 125px;
		}
	}

	.uCircus {
		&__header { text-transform: none !important; }
	}

	.conclusion {
		&__reveal { font-size: 25pt; }
	}

	.live-demo {
		&__separator { width: 50%; }
	}
}

@media print {
	body.print-pdf {
		background-color: black !important;
		/* transform: scale(.7); */
	}
	
	body.print-pdf section {
		/* font-size: .7em !important; */
	}
	
	body.print-pdf #chalkboard {
		display: none;
	}
}

@media ( max-width: 1450px ) {
	.reveal {
		.introduction {
			padding-top: 100px !important;

			&__logo {
				max-width: 100px;

				&--ukit-group { right: 50px; }
			}
		}

		.collect-data,
		.available-data {
			&__image {
				&--root { width: 18.7%; }
			}
		}

		.available-data {
			&__image {
				&--test { width: 18.7%; }
				
				&--team {
					left: 50%; top: 30%;
					transform: translateX(-50%);
					width: 35%; 
				}
			}

			&__header { font-size: 1.1em; }
			&__subheader { font-size: 1.3em; }
		}

		.schrodinger {
			&__header { font-size: 1.2em; }
			&__subheader { font-size: 1.8em; }

			&__image {
				&--cat { width: 30%; }
				&--heisenbug { width: 60%; }
			}
		}
	}
}

@media ( max-width: 1124px ) {
	.reveal {
		.and-word-was {
			&__subtitle { font-size: 4.5em; }
		}

		.relations {
			&__subheader { font-size: 1.8em; }
			&__header { font-size: 3em; }
		}
	}
}

@media ( max-width: 1024px ) {
	.reveal {
		.present {
			padding-top: 0 !important; 
		}

		.dream {
			&__header { font-size: 70px; }
			&__text { font-size: 28px; }
			&__blockquote { font-size: 26px; }
		}

		.significant {
			&__image { width: 90%; }
			br { display: none; }
			&__text { font-size: 30px;}
		}
	}
}

@media ( max-width: 980px ) {
	.reveal {
		.header {
			&--h1 {
				font-size: 40px;
				margin-bottom: 70px;
			}
		}

		.image {
			&--logo {
				&-holyjs {
					height: 120px;
					max-width: 140px;
					top: -80px;
				}
			}
		}

		.introduction {
			&__video,
			&__separator {
				width: 90%;
			}
		}

		.present { margin: 0 !important; }

		// .who-am-i {
		// 	padding: 0 10px;

		// 	br { display: none; }

		// 	&__header { font-size: 30px; }
		// 	&__text {
		// 		font-size: 25px;

		// 		&--nowdays { font-size: 30px; }
		// 		&--finally { font-size: 30px; }
		// 	}
		// }
		.and-word-was {
			&__subtitle { font-size: 3.5em; }
		}



		.they-invented {
			br { display: none; }
			&__header { font-size: 36px; }
			&__subheader { font-size: 20px; }	
		}
  
		.all-complicated {
			&__header { font-size: 1.6em; }
			&__subheader { font-size: 1.1em; }
		}

		.all-complicated,
		.they-invented {
			&__code { font-size: 14px; padding: 10px 5px!important; }
		}

		.relations {
			&__subheader { font-size: 1.3em; }
			&__header { font-size: 2.2em; }
		}

		.debug--in-progress,
		.debug--in-production,
		.node-fatal,
		.push-button,
		.coding,
		.bug-assignment,
		.situa,
		.boss,
		.collect-data {
			&__image { width: 90%; }
			&__header { font-size: 1em; }
		}

		.push-button,
		.coding,
		.bug-assignment,
		.stack {
			br { display: none; }
		}

		.push-button,
		.coding {
			&__header { font-size: 0.8em; }
		}

		.what-we-have {
			&__header {  font-size: 1.5em; }
			&__text { font-size: 1em; }
		}

		.metaphor {
			&__header { font-size: 3em; }
			&__subheader { font-size: 1.4em; }
		}
		
		.bug-assignment {
			padding: 0 10px !important;

			&__image {
				&--fun {
					width: 30%;
					top: auto; bottom: 0; 
				}
			}
		}

		.stack {
			padding: 0 10px!important;

			&--1 {
				&__header { font-size: 0.8em; margin-bottom: 0; }
			}

			&--2 {
				&__header { top: 50%; left: 0; }
			}

			&__image {
				top: 50%;

				&--4 { top: 60%; }
			}
		}

		.schrodinger {
			&__subheader {
				&--heisenbug { padding-left: 10%;  }
			}
		}

		.trace {
			&__header { margin-top: 0; }
		}

		.sti,
		.polymorph {
			&__header { font-size: 1em; }
		}
	}
}

@media 	( max-width: 730px ),
		( max-height: 768px ) {
	.reveal {
		.header {
			&--h1 { font-size: 30px; }
		}

		.image {
			&--logo {
				&-holyjs {
					max-width: 100px;
					height: 70px;
					top: -100px;
				}

				&-ukit-group {
					max-width: 70px;
					top: -90px;
				}
			}
		}

		.introduction {
			padding-top: 50px !important;

			&__text {
				font-size: 25px;
			}
		}

		.who-am-i {
			padding: 0 10px; 

			&__header { font-size: 1em; margin-bottom: 0; }
			br { display: none;}

			&__text {
				font-size: 20px;

				&--nowdays {
					font-size: 25px; margin-bottom: 20px;

					
				}
				&--finally { font-size: 25px; }
			}
		}
	}
}

@media	( max-width: 768px ) {
	.reveal {
		.team-mascots-me {
			&__image { max-width: 90%; width: 90%; }
			&__header { margin: 0; }
		}
	
		.dream {
			padding: 0 10px !important; 

			&__header { font-size: 30px; }
			&__text,
			&__blockquote { font-size: 20px; }
		}

		.this-talk {
			&__header { font-size: 40px; }
			&__text { font-size: 28px; }
		}

		.intro {
			&__header { font-size: 70px; }
		}

		.side-digit {
			font-size: 500px;
			top: 0;
		}

		.and-word-was {
			padding: 0 10px !important;
			box-sizing: border-box;

			&__subtitle { font-size: 60px; margin-bottom: 30px; }
			&__header { font-size: 30px; }
			&__text { font-size: 25px; }
		}

		.all-complicated {
			&__header { font-size: 1.1em; }
			&__subheader { font-size: 0.8em; }
		}

		.relations {
			&__subheader { font-size: 1em; }
			&__header { font-size: 1.5em; }
		}

		.what-we-have {
			z-index: 0;
			padding: 0 30px !important;
			box-sizing: border-box;

			&__header {  font-size: 1.1em; }
			&__text { font-size: 0.7em; }
			&__digit { z-index: -1; }

			&__header,
			&__text { z-index: 1; }
		}

		.collect-data {
			&__header { font-size: 0.8em;}
			&__image {
				&--root { width: 20%; top: 25%; }
			}
		}

		.available-data {
			padding: 0 10px !important;

			br { display: none; }

			&__image {
				&--test,
				&--root { width: 20%; }
				
				&--team { width: 50%; top: 30%; }
			}

			&__header { font-size: 0.8em; }
			&__subheader { font-size: 1em; }
		}

		.schrodinger {
			br { display: none; }
			&__header { font-size: 0.7em; }
			&__subheader {
				font-size: 1.2em;
			}
		}

		.live-demo {
			&__separator { width: 90%; }
			&__video { width: 90%; }
		}

		.trace {
			&__header {
				margin-top: 0;
				font-size: 1.7em;
			}
			&__subheader {
				font-size: 0.7em;

				&--small { font-size: 0.4em; }
			}
		}

		.sti,
		.polymorph {
			padding: 0 10px!important;

			&__header { font-size: 0.6em; }
		}
	}
}

@media 	( max-width: 768px )
		and ( orientation: landscape ),

		( max-width: 812px )
		and ( max-height: 375px)
		and ( orientation: landscape ) {
	.reveal {
		.team-mascots-me {
			br { display: none; }

			&__image { max-width: 50%; }
		}
	}
}

@media ( max-width: 600px ) {
	.reveal {
		.introduction {
			top: 0;

			&__video { height: 50%; }
		}

		.team-mascots-me {
			&__header { font-size: 45px; }
		}

		.what-we-have {
			br:first-child { display: none; }
		}

		.live-demo {
			&__header,
			&__subheader { font-size: 1.1em; }
			&__text { font-size: 0.8em; }
		}
		
	}
}

@media ( max-width: 550px ) {
	.reveal {
		.image {
			&--logo {
				&-holyjs { top: -100px; left: 50px; }
				&-ukit-group { top: -90px; right: 50px; }
			}
		}
		.introduction {
			padding-top: 0 !important;
			margin: 0;

			&__link { display: block; }
			&__text {
				padding: 0 5px;
				
				nobr {
					word-break: break-word;
					white-space: inherit;
					display: block;
					
					&:not(:last-child) { margin: 15px 0; }
				}
			}
		}

		.dream {
			blockquote { width: 90%; }
		}

		.intro {
			&__header { font-size: 50px; }
		}
	
		.side-digit {
			font-size: 300px;
			top: .1em;
		}

		.metaphor {
			&__header { font-size: 1.8em; }
			&__subheader { font-size: 0.9em; }
		}

		.available-data {
			&__header { font-size: 0.5em; }
			&__subheader { font-size: 0.8em; }
		}

		.schrodinger {
			&__header { font-size: 0.5em; }
			&__subheader {
				font-size: 0.7em;
			}
		}

		.live-demo {
			&__header,
			&__subheader { font-size: 0.7em; }
			&__text { font-size: 0.4em; }
		}

		.trace {
			&__header { font-size: 1em; }
		}
	}
}

@media ( max-width: 450px ) {
	.reveal {
		.this-talk {
			&__header { font-size: 30px; }
			&__text { font-size: 22px; }
		}

		.relations {
			&__subheader { font-size: 22px; z-index: 100;}
			&__header { font-size: 26px; z-index: 100;}
		}
		
	}
}

@media ( max-width: 340px ) {
	.reveal {
		.metaphor {
			&__header { font-size: 1.5em; }
			&__subheader { font-size: 0.9em; }
		}
	}
}

@media ( max-width: 320px ) {
	.reveal {
		.this-talk {
			&__header { font-size: 25px; }
			&__text { font-size: 20px; }
		}
	}
}

@media	only screen
		and ( max-width: 667px )
		and ( max-height: 375px ),

		only screen
		and ( max-width: 736px )
		and ( max-height: 414px ),

		only screen
		and ( max-width: 812px )
		and ( max-height: 375px ),

		only screen
		and ( max-height: 800px )
		and ( orientation: landscape )
		and ( max-width: 1024px ),
		// Nokia N9
		only screen
		and ( max-width: 854px )
		and ( max-height: 480px )
		and ( orientation: landscape ) {
	.reveal {
		.introduction {
			padding-top: 50px!important;

			&__logo {
				&--holyjs {
					max-width: 100px;
					height: 70px;
					top: -42px; z-index: -1;}
				&--ukit-group {
					max-width: 70px;
					top: -38px; }
			}

			&__header {
				font-size: 30px;
				margin-bottom: 20px;
			}

			&__separator {
				width: 40%;

				&:last-of-type { display: none;}
			}
			
			&__text {
				float: right;
				width: 40%;
				margin: 0;
				margin-right: 20px;
				font-size: 18px;

				nobr { white-space: normal; }
			}

			&__video {
				width: 40%; height: 200px;
				float: left;
			}

			&__separator,
			&__video { margin-left: 20px; }
		}

		.intro {
			&__header { margin-top: 50px; }
		}

		.side-digit {
			font-size: 400px;
			top: -50%;
		}

		.and-word-was {
			padding: 0 10px !important;
			box-sizing: border-box;

			&__subtitle { font-size: 60px; margin-bottom: 30px; }
			&__header { font-size: 30px; }
			&__text { font-size: 25px; }
		}

		.relations {
			&__subheader { font-size: 1em; }
			&__header { font-size: 1.5em; margin-top: 50px; }
			// &__digit { top: 0; }
		}

		.debug--in-progress,
		.debug--in-production,
		.node-fatal,
		.push-button,
		.coding,
		.bug-assignment,
		.situa,
		.boss,
		.collect-data  {
			&__image { width: 70%; }
			&__header { font-size: 1em; margin-bottom: 0; }
		}

		.push-button,
		.coding {
			&__header { font-size: 0.7em; }
			&__image { max-width: 50%; }
		}

		.situa,
		.boss {
			&__image { max-width: 30%; }
		}

		.bug-assignment {
			&__image {
				&--fun {
					width: 30%;
					top: auto; bottom: 0; 
				}
			}
		}

		.stack {
			&--1{
				&__header { font-size: 0.8em; margin-bottom: 0; }
			}

			&--2 {
				&__header { top: 30%; left: 0; }
			}

			&__image {
				top: 30%;

				&--4 { top: 40%; }
			}
		}

		.collect-data {
			&__header { font-size: 0.8em;}
			&__image {
				&--root { width: 20%; top: 10%; }
			}
		}

		.available-data {
			br { display: none; }
			&__image {
				top: 10%;

				&--team {
					width: 20%;
					top: 15%;
				}
			}
			&__header { font-size: 0.5em; }
			&__subheader { font-size: 0.8em; margin-bottom: 0; }
		}

		.schrodinger {
			&__header { font-size: 0.4em; }
			&__subheader { font-size: 0.8em; }
		}

		.live-demo {
			&__header,
			&__subheader { font-size: 0.7em; }
			&__text { font-size: 0.4em; }
			&__video { max-width: 50%; max-height: 120px;  }
			&__separator { margin: 5px auto; }
		}


		.sti,
		.polymorph {
			&__header { font-size: 1em; }
		}
	}
}

@media ( max-height: 700px ) {
	.reveal {
		.introduction {
			&__header { margin: 0; }
			&__text { font-size: 18px; }
		}
	}
}

@media	( max-height: 320px )
		and ( orientation: landscape ),

		( max-width: 320px )
		and ( max-height: 533px ) {
	.reveal {
		.introduction {
			&__separator { margin: 5px auto; }
			&__header {
				font-size: 25px;
				margin-bottom: 20px;
			}
			&__link { display: inline; }

			&__text {
				nobr:not(:last-child) { margin: 0; }
				br { display: none; }
			}
		}
	}
}

// Iphone 4
@media 	( max-width: 320px )
		and ( max-width: 768px )
		and ( max-height: 480px ) {
	.reveal {
		.introduction {
			&__logo {
				&--holyjs { top: -90px; }
				&--ukit-group { top: -83px; }
			}
		}

		.who-am-i {
			&__text { font-size: 16px; }
			&__header { font-size: 24px; }
		}
	}
}

// Iphone 5/SE
@media 	( max-width: 320px )
		and ( max-width: 768px )
		and ( max-height: 568px ) {
	.reveal {
		.introduction {
			&__logo {
				&--holyjs { top: -90px; }
				&--ukit-group { top: -83px; }
			}
		}
	}
}

// iPad
@media only screen
	and ( min-width: 1024px )
	and ( min-height: 768px )
	and ( orientation: landscape )
	and (-webkit-min-device-pixel-ratio: 2) {
	.reveal {
		.introduction {
			&__header {
				font-size: 30px;
				margin-bottom: 50px;
			}

			&__separator,
			&__text { margin: 0 auto; }

			&__video,
			&__text { float: none; }
		}

		.they-invented {
			br { display: none; }
			&__header { font-size: 2.8em; margin-bottom: 30px; }
			&__subheader { font-size: 1.3px; }
			&__code { font-size: 25px; }
		}
	}
}

@media 	( min-height: 769px )
		and ( max-height: 980px ) {
	.reveal {
		.introduction {
			&__header { margin-bottom: 30px; }
			&__text { font-size: 28px; }
		}
	}
}

// Nokia Lumia
@media 	( max-height: 320px )
		and ( orientation: landscape ) {
	.reveal {
		.who-am-i {
			&__text { font-size: 16px; }
			&__header { font-size: 24px; }
		}
	}
}

@media ( max-width: 400px ) {
	.reveal {
		.team-mascots-me {
			&__header { font-size: 30px; }
		}
	}
}

// iPad Mini Portrait
@media	only screen 
		and ( min-width: 768px )
		and ( max-height: 1024px )
		and ( orientation: portrait ) {
	.reveal {
		.dream {
			&__header { font-size: 45px; }
			&__text { font-size: 30px; }
			&__blockquote { font-size: 28px; }
		}
	}
}


@media	only screen
		// iPhone X landscape
		and ( max-width: 812px )
		and ( max-height: 375px )
		and ( orientation: landscape )
		and ( -webkit-min-device-pixel-ratio: 2 ),
		// iPad landscape
		only screen
		and ( min-device-width: 768px)
		and ( max-device-width: 1024px )
		and ( orientation: landscape )
		and ( -webkit-min-device-pixel-ratio: 2 ) {
	.reveal {
		.side-digit {
			transform: translateY(20%);
		}
	}
}

// Blackberry Playbook Landscape
@media only screen 
	and ( max-width: 1024px )
	and ( orientation : landscape ) {
	.reveal {
		.they-invented {
			br { display: none; }
			&__header { font-size: 36px; margin-bottom: 0; }
			&__subheader { font-size: 20px; }
			&__code { font-size: 16px; }
		}
	}
}

// iPhone X Landscape
@media only screen 
	and ( min-device-width: 375px ) 
	and ( max-device-width: 812px )  
	and ( -webkit-device-pixel-ratio : 3 )
	and ( orientation: landscape ) {
		.reveal {
			.schrodinger {
				br { display: none; }

				&__image {
					&--cat {
						width: 20%;
						top: 40%;
					}
				}
			}

			.trace {
				&__header {
					font-size: 1.7em;
				}
				&__subheader {
					font-size: 0.7em;
	
					&--small { font-size: 0.4em; }
				}
			}
		}
}

@media 	only screen
		and ( max-width: 850px )
		and ( max-height: 420px )
		and ( orientation: landscape ) {
			.trace {
				&__header {
					font-size: 1.7em;
				}
				&__subheader {
					font-size: 0.7em;
	
					&--small { font-size: 0.4em; }
				}
			}
		}